{% extends "base.html" %}

{% block content %}
{% if request.args.get("cat")%}
    {% for post in posts %}
        <div class="card post_list">
            <div class="card text-white bg-flake">
                <h5 class="card-title"><a href="/post?id={{post.pub_date}}">{{post["title"]}}</a></h5>
                <h6 class="card-subtitle mb-2 text-muted">{{post["tags"]}}<div class="text-right"></h6>
                <p class="card=text">{{post["content"]}}</p>
            </div>
        </div>
    {% endfor %}
{% endif %}
{% if forums %}
    {% for forum in forums %}
        <div class="card post_list">
            <div class="card text-white bg-flake">
                <h5 class="card-title"><a href="/index?cat={{forum.name}}">{{forum["name"]}}</a></h5>
                <h6 class="card-subtitle mb-2 text-muted">{{forum["tags"]}}</h6>
                <p class="card=text">{{forum["desc"]}}</p>
            </div>
        </div>
    {% endfor %}
{% endif %}
{% endblock %}