{% extends "base.html" %}

{% block content %}
<div class="container-fluid post_area bg-flake">
    <div class="row">
        <div class="col-md-11 h5">{{post.title}}</div>
        {% if (current_user.is_authenticated) and ( current_user.get_id()==post.author ) or (current_user.is_authenticated) and (current_user.level>0) %}
        <div class="col-md-1 btn-group text-right" role="group" aria-lavel="Quick admin">
            <a href="/{{post.forum}}/add_post?id={{post['pub_date']}}" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Modyfikuj">M</a>
            <a href="/p/{{post.pub_date}}?del=True" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Usuń">D</a>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col text-left">Autor: <a a href="/u/{{post['author']}}">{{post.author}}</a></div>
        <div class="col text-lowercase text-muted text-center">tagi: {{post.tags}}</div>
        <div class="col text-right">{%if post.is_modified()%}[Modyfikowany] {%endif%}{{post.pub_date.isoformat(' ', "minutes")}}</div>
    </div>
    <div class="row">
        <div class="col">{{post.content}}</div>
    </div>
</div>
{% if current_user.is_authenticated %}
<form action="" method="POST">
    <div class="form-row">
        <div class="form-group col-10">
            <textarea type="text" rows=3 class="form-control" placeholder="Dodaj komentarz" name="content" id="content" required></textarea>
        </div>
        <button type="submit" class="btn btn-dark col" style="margin-bottom: 1rem;">Dodaj</button>
    </div>
</form>
{%else%}
<div class="alert alert-info" role="alert">
    <h4 class="alert-heading">Poczekaj!</h4>
    <p>Obecnie nie możesz komentować ani tworzyć nowych postów! <a href="/login" class="alert-link">Zaloguj się</a> lub <a href="/login" class="alert-link">zarejestruj</a> aby zacząć korzystać w pełni z forum!</p>
</div>
{%endif%}
{% if comments %}
    {% if comments.pages>1 %} <nav aria-label="pagination controls">
        <ul class="pagination pagination-sm justify-content-center">
            {% if comments.has_prev %}<li class="page-item"><a class="page-link bg-dark border-0" href="/p/{{post.pub_date}}?p={{comments.prev_num}}">&laquo;</a></li>{% endif %}
            {% for page in comments.iter_pages() %}{% if page<=comments.pages and page>0 %}<li class="page-item {% if page==comments.page %}active{%endif%}"><a class="page-link bg-dark border-0" href="/p/{{post.pub_date}}?p={{page}}">{{page}}</a></li>{% endif %}{%endfor%}
            {% if comments.has_next %}<li class="page-item"><a class="page-link bg-dark border-0" href="/p/{{post.pub_date}}?p={{comments.next_num}}">&raquo;</a></li>{% endif %}
        </ul>
    </nav>{%endif%}
    {% for comment in comments.items %}
        <div class="container comment w-75 bg-flake">
            <div class="row">
                <a href="/u/{{comment['author']}}" class="col-md-10 text-left h6">{{comment["author"]}}</a>
                <div class="col-md-2 text-right small">{{comment["pub_date"].isoformat(' ', "minutes")}}</div>
            </div>
            <div class="row">
                <div class="col-md-11">{{comment["content"]}}</div>
                {% if (current_user.is_authenticated) and ( current_user.get_id()==comment.author ) or (current_user.is_authenticated) and (current_user.level>0) %}<a type="button" href="/p/{{post.pub_date}}?del_com={{comment.id}}" class="col-md-1 text-center btn btn-danger btn-sm">Usuń</a>{% endif %}
            </div>
        </div>
    {% endfor %}
{% endif %}
{% endblock %}